<!-- <ng-container *ngIf="isLogin == true; then UserPanel; else loginPanel">
</ng-container>
<ng-template #UserPanel>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #loginPanel>
  <app-login></app-login>
</ng-template> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--Footer Start-->
<footer style="float: bottom;" class="bg-light text-center text-white" >

  <!-- Copyright -->
  <div class="text-center p-3" style="background: #212529;">
    © 2023 Copyright:
    <a class="text-white" style="text-decoration: none
    ;" href="http://localhost:4200/">Stock Trading App</a>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer End-->