<div style="height: 100vh;" class="container">
    <h3 class="mt-3">
        Hi, Mahesh
        <hr>
    </h3>
    <div id="" class="mt-4 equity-container">
        <div class="p-3" id="first-div">
            <h4>Equity</h4>
            <span class="h1 mr-5">{{fund}}</span>
        </div>
        <div class="p-3" id="second-div">
            <div><span>Margin Used : </span> <span class="">0</span> <br> </div>
            <div><span>Opening Balance : </span> <span class="">{{fund}}</span></div>
        </div>
    </div>
    <hr>

    <div class="equity-container mt-4">
        <div class="p-3" id="first-h-div">
            <h4>Holdings</h4>
            <span class="h1 mr-5">{{profitLoss}}</span>
        </div>
        <div class="p-3" id="second-h-div">
            <div><span>Current Value : </span> <span class="">{{currentValue}}</span> <br> </div>
            <div><span>Investment : </span> <span class="">{{totalInvestment}}</span></div>
        </div>
    </div>
</div>